body {
    background-image: url("../images/dust_scratches/dust_scratches.png");
}
.project {
    height: 200px;
    width: 300px;
    display: inline-block;
    position: relative;
}
.project-title {
    position: absolute;
    top: 120px;
}